<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehu.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.ehu.model.SysUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="CHAR" />
    <result column="user_comment" property="userComment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
  </resultMap>

  <select id="getUserMenus" parameterType="int" resultType="com.ehu.bean.response.SystemMenu">
      SELECT
        DISTINCT
        t1.menu_code menuCode,
	    t1.menu_name menuName,
	    t1.menu_url menuUrl,
	    t1.parent_code parentCode
      FROM
          sys_menu t1
      INNER JOIN sys_role_menu t2 ON t1.id = t2.menu_id
      INNER JOIN sys_role_user t3 ON t2.role_id = t3.role_id
      INNER JOIN sys_user t4 ON t3.user_id = #{userId}
      WHERE t1.menu_status = 1
  </select>

  <update id="updatePwd" parameterType="com.ehu.bean.request.UpdatePwdRequest">
      update sys_user set user_password = #{newPwd} where id = #{userId}
  </update>
</mapper>