<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehu.mapper.TMerchantBreakageMapper" >
  <resultMap id="BaseResultMap" type="com.ehu.model.TMerchantBreakage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="breakage_id" property="breakageId" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="person_in_charge" property="personInCharge" jdbcType="VARCHAR" />
    <result column="breakage_price" property="breakagePrice" jdbcType="DECIMAL" />
    <result column="breakage_status" property="breakageStatus" jdbcType="INTEGER" />
    <result column="verify_status" property="verifyStatus" jdbcType="INTEGER" />
    <result column="pic_evidence" property="picEvidence" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
</mapper>