<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehu.mapper.TMerchantPurchaseOrderMapper">
  <resultMap id="BaseResultMap" type="com.ehu.model.TMerchantPurchaseOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="purchase_order_id" jdbcType="INTEGER" property="purchaseOrderId"/>
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
    <result column="person_in_charge" jdbcType="VARCHAR" property="personInCharge"/>
    <result column="order_total_price" jdbcType="DECIMAL" property="orderTotalPrice"/>
    <result column="order_actual_price" jdbcType="DECIMAL" property="orderActualPrice"/>
    <result column="verify_status" jdbcType="INTEGER" property="verifyStatus"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
    <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
  </resultMap>

  <select id="queryOrders" parameterType="com.ehu.bean.request.PurchaseOrderQueryRequest" resultType="map">
    select DISTINCT
    t1.purchase_order_id purchaseOrderId,
    t1.merged_id mergedId,
    t1.merchant_id merchantId,
    t1.person_in_charge personInCharge,
    t1.order_total_price orderTotalPrice,
    t1.order_actual_price orderActualPrice,
    t1.verify_status verifyStatus,
    t1.remark,
    t1.del_flag delFlag,
    t1.order_status orderStatus,
    t1.create_time createTime,
    t1.update_time updateTime,
    t1.create_by createBy,
    t1.update_by updateBy,
    t4.real_name realName, t5.smi_name smiName, t5.smi_phone smiPhone, t5.smi_address smiAddress
    from t_merchant_purchase_order t1
    <if test="goodsName != null">
      INNER JOIN t_merchant_purchase_orders_detail t2 on t1.purchase_order_id = t2.purchase_order_id
      and t2.goods_name like '%${goodsName}%' and t2.del_flag = 0
    </if>
    INNER JOIN t_merchant_user_info t3 on t3.smiid = t1.merchant_id
    INNER JOIN t_merchant_user t4 on t3.muid = t4.guid
    INNER JOIN t_store_merchant_info t5 on t3.smiid = t5.smiid
    where t1.del_flag = 0
    <if test="startTime != null">
      and t1.create_time <![CDATA[ >= ]]> #{startTime}
    </if>
    <if test="endTime != null">
      and t1.create_time <![CDATA[ <= ]]> #{endTime}
    </if>
    <if test="merchantId != 0">
      and t1.merchant_id = #{merchantId}
    </if>
    <if test="personInCharge != null">
      and t1.person_in_charge like '%${personInCharge}%'
    </if>
    limit #{offset}, #{pageSize}
  </select>

  <update id="updateOrderStatus" parameterType="map">
    update t_merchant_purchase_order set order_status = 3, merged_id = #{mergedId}
    WHERE purchase_order_id IN
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="getGoodsSum" resultType="int" parameterType="int">
    SELECT ifnull(sum(order_quantity), 0)
    from t_merchant_purchase_orders_detail
    WHERE purchase_order_id = #{orderId} and del_flag = 0
  </select>
</mapper>