<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehu.mapper.TPurchaseOrderMapper">
    <resultMap id="BaseResultMap" type="com.ehu.model.TPurchaseOrder">
    <!--
      WARNING - @mbg.generated
    -->
        <id column="purchase_order_id" jdbcType="INTEGER" property="purchaseOrderId"/>
        <result column="supplier_id" jdbcType="INTEGER" property="supplierId"/>
        <result column="person_in_charge" jdbcType="VARCHAR" property="personInCharge"/>
        <result column="order_total" jdbcType="DECIMAL" property="orderTotal"/>
        <result column="order_actual" jdbcType="DECIMAL" property="orderActual"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="pay_status" jdbcType="INTEGER" property="payStatus"/>
        <result column="verify_status" jdbcType="INTEGER" property="verifyStatus"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
    </resultMap>

    <select id="queryOrders" parameterType="com.ehu.bean.request.PurchaseOrderQueryRequest" resultMap="BaseResultMap">
        select DISTINCT t1.* from t_purchase_order t1
        <if test="goodsName != null">
            INNER JOIN t_purchase_orders_detail t2 on t1.purchase_order_id = t2.purchase_order_id
            and t2.goods_name like '%${goodsName}%' and t2.del_flag = 0
        </if>
        where t1.del_flag = 0
        <if test="startTime != null">
            and t1.create_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            and t1.create_time <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="merchantId != 0">
            and t1.merchant_id = #{merchantId}
        </if>
        <if test="personInCharge != null">
            and t1.person_in_charge like '%${personInCharge}%'
        </if>
        and t1.verify_status = #{verifyStatus}
        and t1.pay_status = #{payStatus}
        limit #{offset}, #{pageSize}
    </select>
</mapper>