<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehu.mapper.TPurchaseOrdersDetailMapper">
  <resultMap id="BaseResultMap" type="com.ehu.model.TPurchaseOrdersDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="purchase_order_detail_id" jdbcType="INTEGER" property="purchaseOrderDetailId"/>
    <result column="purchase_order_id" jdbcType="INTEGER" property="purchaseOrderId"/>
    <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
    <result column="order_quantity" jdbcType="INTEGER" property="orderQuantity"/>
    <result column="actual_quantity" jdbcType="INTEGER" property="actualQuantity"/>
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice"/>
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="order_detail_status" jdbcType="INTEGER" property="orderDetailStatus"/>
    <result column="standard" jdbcType="VARCHAR" property="standard"/>
    <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
  </resultMap>

  <select id="getDetailFirstMenu" resultType="map" parameterType="int">
    select DISTINCT
    t5.sgmfid,
    t5.sgmf_name sgmfName,
    t5.sgmf_sort sgmfSort,
    t5.sgmf_type sgmfType,
    t5.create_date createDate,
    t5.create_by createBy,
    t5.update_date updateDate,
    t5.update_by updateBy,
    t5.valid_flag validFlag,
    t5.sgmf_icon sgmfIcon,
    t5.is_redpaper_usable isRedpaperUsable
    from t_purchase_orders_detail t1
    INNER JOIN t_supplier_goods t2 on t1.goods_id = t2.goods_id
    INNER JOIN ehu.t_store_goods_info t3 on t2.sgiid = t3.sgiid
    INNER JOIN ehu.t_store_goods_menu_second t4 on t3.sgmsid = t4.sgmsid
    INNER JOIN ehu.t_store_goods_menu_first t5 on t4.sgmfid = t5.sgmfid
    WHERE t1.purchase_order_id = #{orderId}
  </select>

  <select id="getDetailSecondMenu" resultType="map" parameterType="map">
    select DISTINCT
    t4.sgmsid,
    t4.sgms_name sgmsName,
    t4.sgms_sort sgmsSort,
    t4.sgmfid sgmfid,
    t4.create_date createDate,
    t4.create_by createBy,
    t4.update_by updateBy,
    t4.valid_flag validFlag
    from t_purchase_orders_detail t1
    INNER JOIN t_supplier_goods t2 on t1.goods_id = t2.goods_id
    INNER JOIN ehu.t_store_goods_info t3 on t2.sgiid = t3.sgiid
    INNER JOIN ehu.t_store_goods_menu_second t4 on t3.sgmsid = t4.sgmsid
    INNER JOIN ehu.t_store_goods_menu_first t5 on t4.sgmfid = t5.sgmfid and t5.sgmfid = #{firstMenuId}
    WHERE t1.purchase_order_id = #{orderId}
  </select>

  <select id="getOrderDetailGoods" parameterType="com.ehu.bean.request.MerchantOrderDetailRequest" resultType="map">
    select
    t1.purchase_order_detail_id purchaseOrderDetailId,
    t1.purchase_order_id purchaseOrderId,
    t1.goods_id goodsId,
    t1.goods_name goodsName,
    t1.order_quantity orderQuantity,
    t1.actual_quantity actualQuantity,
    t1.order_price actualPrice,
    t1.remark,
    t1.order_detail_status orderDetailStatus,
    t1.del_flag delFlag,
    t3.sgi_icon sgiIcon
    from t_purchase_orders_detail t1
    INNER JOIN t_supplier_goods t2 on t1.goods_id = t2.goods_id
    INNER JOIN ehu.t_store_goods_info t3 on t2.sgiid = t3.sgiid
    INNER JOIN ehu.t_store_goods_menu_second t4 on t3.sgmsid = t4.sgmsid
    <if test="secondMenuId != 0">
      and t4.sgmsid = #{secondMenuId}
    </if>
    INNER JOIN ehu.t_store_goods_menu_first t5 on t4.sgmfid = t5.sgmfid
    <if test="firstMenuId != 0">
      and t5.sgmfid = #{firstMenuId}
    </if>
    WHERE t1.purchase_order_id = #{orderId}
  </select>

  <select id="getExcelOrders" parameterType="int" resultType="com.ehu.bean.business.SupplierGoodsBean">
    SELECT
      t3.supplier_name supplierName, t1.goods_name goodsName, t1.order_quantity orderQuantity, t1.order_price goodsPrice
    FROM t_purchase_orders_detail t1
    LEFT JOIN t_supplier_goods t2 on t1.goods_id = t2.goods_id
    LEFT JOIN t_supplier t3 on t2.supplier_id = t3.supplier_id
    WHERE t1.purchase_order_id = #{orderId}
  </select>
</mapper>