<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehu.mapper.TStoreMerchantInfoMapper">
  <resultMap id="BaseResultMap" type="com.ehu.model.TStoreMerchantInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="smiid" property="smiid" jdbcType="INTEGER" />
    <result column="smi_name" property="smiName" jdbcType="VARCHAR" />
    <result column="smi_avatar" property="smiAvatar" jdbcType="VARCHAR" />
    <result column="smi_goods_count" property="smiGoodsCount" jdbcType="INTEGER" />
    <result column="smi_send_up" property="smiSendUp" jdbcType="DECIMAL" />
    <result column="smi_distribution" property="smiDistribution" jdbcType="DECIMAL" />
    <result column="smi_with_free" property="smiWithFree" jdbcType="DECIMAL" />
    <result column="smi_shipping_time" property="smiShippingTime" jdbcType="VARCHAR" />
    <result column="smi_show_goods_id1" property="smiShowGoodsId1" jdbcType="INTEGER" />
    <result column="smi_show_goods_id2" property="smiShowGoodsId2" jdbcType="INTEGER" />
    <result column="smi_show_goods_id3" property="smiShowGoodsId3" jdbcType="INTEGER" />
    <result column="smi_address" property="smiAddress" jdbcType="VARCHAR" />
    <result column="smi_phone" property="smiPhone" jdbcType="VARCHAR" />
    <result column="smi_notice" property="smiNotice" jdbcType="VARCHAR" />
    <result column="smi_longitude" property="smiLongitude" jdbcType="DOUBLE" />
    <result column="smi_latitude" property="smiLatitude" jdbcType="DOUBLE" />
    <result column="smi_status" property="smiStatus" jdbcType="INTEGER" />
    <result column="alipay_account" property="alipayAccount" jdbcType="VARCHAR" />
    <result column="wechat_openid" property="wechatOpenid" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="valid_flag" property="validFlag" jdbcType="INTEGER" />
    <result column="sgo_sale_count" property="sgoSaleCount" jdbcType="INTEGER" />
    <result column="mct_guid" property="mctGuid" jdbcType="INTEGER" />
    <result column="invite_code" property="inviteCode" jdbcType="INTEGER" />
    <result column="isAlongStreet" property="isalongstreet" jdbcType="VARCHAR" />
    <result column="industry_code" property="industryCode" jdbcType="VARCHAR" />
    <result column="smi_code" property="smiCode" jdbcType="VARCHAR" />
    <result column="county_code" property="countyCode" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="planid" property="planid" jdbcType="INTEGER" />
    <result column="mct_type" property="mctType" jdbcType="INTEGER" />
  </resultMap>

  <select id="queryMerchantDetail" parameterType="com.ehu.bean.request.MerchantInfoRequest" resultType="map">
    SELECT
      t1.smiid merchantId, t1.smi_name smiName, t1.smi_address smiAddress, t1.smi_phone smiPhone, t3.real_name realName
    FROM ehu.t_store_merchant_info t1
    INNER JOIN ehu.t_merchant_user_info t2 ON t1.smiid = t2.smiid
    INNER JOIN ehu.t_merchant_user t3 ON t2.muid = t3.guid
    WHERE t3.guid = #{guid}
  </select>
</mapper>