<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehu.mapper.TStoreGoodsInfoMapper">
    <resultMap id="BaseResultMap" type="com.ehu.model.TStoreGoodsInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="sgiid" jdbcType="INTEGER" property="sgiid"/>
        <result column="sgi_name" jdbcType="VARCHAR" property="sgiName"/>
        <result column="sgi_standard" jdbcType="VARCHAR" property="sgiStandard"/>
        <result column="sgi_brand" jdbcType="VARCHAR" property="sgiBrand"/>
        <result column="sgi_icon" jdbcType="VARCHAR" property="sgiIcon"/>
        <result column="sgi_img" jdbcType="VARCHAR" property="sgiImg"/>
        <result column="sgmsid" jdbcType="INTEGER" property="sgmsid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
    </resultMap>

    <select id="queryGoods" resultMap="BaseResultMap" parameterType="com.ehu.bean.request.GoodsInfoRequest">
        SELECT
        t1.*
        FROM
        ehu.t_store_goods_info t1
        INNER JOIN ehu.t_store_goods_menu_second t2 on t1.sgmsid = t2.sgmsid
        <if test="secondMenuId != 0">
            AND t2.sgmsid = #{secondMenuId}
        </if>
        INNER JOIN ehu.t_store_goods_menu_first t3 on t2.sgmfid = t3.sgmfid
        <if test="firstMenuId != 0">
            AND t3.sgmfid = #{firstMenuId}
        </if>
        WHERE t1.valid_flag = 1
        <if test="searchText != null">
            AND t1.sgi_name like '%${searchText}%'
        </if>
        ORDER BY t1.sgiid
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="queryGoodsCount" resultType="int" parameterType="com.ehu.bean.request.GoodsInfoRequest">
        SELECT
        IFNULL(COUNT(t1.sgiid), 0) totalCount
        FROM
        ehu.t_store_goods_info t1
        INNER JOIN ehu.t_store_goods_menu_second t2 on t1.sgmsid = t2.sgmsid
        <if test="secondMenuId != 0">
            AND t2.sgmsid = #{secondMenuId}
        </if>
        INNER JOIN ehu.t_store_goods_menu_first t3 on t2.sgmfid = t3.sgmfid
        <if test="firstMenuId != 0">
            AND t3.sgmfid = #{firstMenuId}
        </if>
        WHERE t1.valid_flag = 1
        <if test="searchText != null">
            AND t1.sgi_name like '%${searchText}%'
        </if>
    </select>
</mapper>